/* custom.css */
.custom-container {
    width: auto;
    height: auto;
    padding: 1.5rem;
    background-color: #2d3748; /* Tailwind gray-700 */
    border-radius: 0.5rem; /* Tailwind rounded-md */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Tailwind shadow-lg */
  }
  
.wheel-brand-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .wheel-brand-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .product-details {
    text-align: center;
    margin-top: 20px;
  }
  